body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.visibility-hidden {
	display: none;
}

.main-navigation {
	color: #ffffff;
	font-size: 16px;
	line-height: 20px;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.cover {
	list-style: none;
	text-align: center;
}

.cover h3 {
	font-weight:bold;
	font-size: 60px;
	line-height: 60px;
}

.action {
	font-weight: bold;
}

.action h2 {
	font-size: 35px;
	line-height: 41px;
}

.action p {
	font-size: 18px;
	line-height: 22px;
}

.action div {
	border-radius: 15px;
	width: 560px;
	height: 229px;
}

.action-raspberry {
	background-image: url("../img/raspberry_for_free.jpg");
}

.action-chocolate {
	background-image: url("../img/chocolates_for_free.jpg");
}

.product h2 {
	font-weight: medium;
	font-size: 16px;
	line-height: 22px;
}

.product p {
	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
}

.product span {
	font-weight: bold;
	font-size: 30px;
	line-height: 45px;
}

.company-info {
	background-image:  url("../img/wafer.png");
	background-repeat: repeat;
	border-radius: 15px;
	color: #323232;
}

.company-info h2 {
	font-weight: medium;
	font-size: 24px;
	line-height: 30px;
}

.company-info p {
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
}

.subscription h2 {
	color: #323232;
	font-weight: medium;
	font-size: 16px;
	line-height: 22px;	
}

.subscription a {
	color: #323232;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-decoration:  underline;
}

.subscription p {
	color: #5a5a5a;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
}

.contacts-string-small {
	color: #323232;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
}

.contacts-string-large {
	color: #323232;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
}

.contacts a {
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
}