body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;

	background-color: #849d8f;
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

form, .header-menu-catalog-submenu {
	display: none;
}

.container {
	
	width: 1146px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-navigation-wrapper .container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	
}

.visibility-hidden {
	display: none;
}

.main-navigation {
	color: #ffffff;
	font-size: 16px;
	line-height: 20px;
}

.site-navigation,
.user-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #242424;
}

.cover, .cover-wrapper {
	display: flex;
	justify-content: space-between;
	font-weight: 700;
	list-style: none;
	text-align: center;
	height: 580px;
}

.cover-slide {
	display:inline-block;
	margin: 0;
	padding: 0;
}

.cover h3 {
	position: absolute;
	bottom: 250px;
	z-index: 2;
	font-size: 60px;
	line-height: 60px;
	vertical-align: bottom;
}

.cover-slide img {
	z-index: 0;
	position: absolute;
	top: 0;
	margin: auto;
}

.action {
	display: flex;
	justify-content: space-between;
	font-weight: 700;
}

.action h2 {
	font-size: 35px;
	line-height: 41px;
}

.action p {
	font-size: 18px;
	line-height: 22px;
}

.action div {
	border-radius: 15px;
	width: 560px;
	height: 229px;
}

.action-raspberry {
	background-color: #ffffff;
	background-image: url("../img/raspberry_for_free.jpg");
}

.action-chocolate {
	background-color: #ffffff;
	background-image: url("../img/chocolates_for_free.jpg");
}


.catalog h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}

.catalog p {
	font-weight: 700;
	font-size: 45px;
	line-height: 45px;
}

.catalog span {
	font-weight: 700;
	font-size: 30px;
	line-height: 45px;
}

.catalog {
	display: flex;
	flex-wrap: wrap;
	width: 1146px;
}
.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	
}
.catalog-item {
	width: 267px;	
	height: 345px;
	margin: 0;
	padding: 0;
}

.pagination-list {
	display: flex;
	justify-content: flex-end;
	margin: 0;
}

.pagination-list li {
	padding:  10px;
}

.company-info {
	background-color: #ffffff;
	background-image:  url("../img/wafer.png");
	background-repeat: repeat;
	border-radius: 15px;
	color: #323232;
}

.company-info h2 {
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
}

.company-info p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

.subscription {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.subscription-wrapper {
	background-color: #ffffff;
	width: 560px;
	height: 220px;
}

.subscription h2 {
	color: #323232;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;	
}

.subscription a {
	color: #323232;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	text-decoration:  underline;
}

.subscription p {
	color: #5a5a5a;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

.news {
	width: 560px;
	height: 220px;
	background-color: #ffffff;
	background-image: url("img/news.jpg");
	background-repeat: no-repeat;
}

.contacts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1146px;
	height: 440px;
}
.contacts-string-small {
	color: #323232;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.contacts-string-large {
	color: #323232;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.contacts a {
	color: #ffffff;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.question-legend {
	color: #323232;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
}

.footer-list a {
	color: #ffffff;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
}

.footer-list-supplier a {
	font-weight: 700;
}

.footer-copyright {
	color: #fefefe;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
}

.footer-copyright a {
	color: #fefefe;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
}

.breadcrumbs, .breadcrumbs a {
	color: #ffffff;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

.main-footer .container {
	align-items: center;
	display: flex;
	justify-content: space-between;	
}


.breadcrumbs {
	display: flex;
	justify-content: 
}