body {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 1.2;
  font-family: Roboto, "Arial", sans-serif;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
  background-position: top center;
  background-repeat: no-repeat;
}

.img-debug {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;

}

form, .header-menu-catalog-submenu {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}


.visibility-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.main-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 1200px;
    height: 80px;
}

.main-header-logo {
  margin-left: 27px;
}

.main-navigation  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1020px;
  height: 80px;
  margin: 0;
  padding: 0;
}

.site-navigation { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    margin: 0;
    padding: 0;

    
}

.site-navigation a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  border-radius: 50px;
  padding: 9px 12px;
}

.site-navigation a:hover {
  color: #333333;
  background-color: #f7f6f3;
}

.site-navigation a:active {
  color: #333333;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px rgba(105, 105, 105, 1);

}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 400px;
  margin: 0;
  padding: 0;
}

.user-navigation {
  margin-right: 27px;
}

.user-navigation a {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: rgba(129, 129, 129, 0.2);
  border-radius: 50px;
  padding: 9px 12px;
}

.user-navigation a:hover {
  color: #333333;
  background-color: #f7f6f3;
}

.user-navigation a:active {
  color: #333333;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px rgba(105, 105, 105, 1);

}

.user-navigation li {
  position: relative;
  border-radius: 50px;
  background-color: #a3b8ad;
  padding: 9px 14px;
  margin-left: 10px;
}

.user-navigation-search-link {
  padding-left: 6px;
}

.user-navigation-search-link::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 9px;
  width: 22px;
  height: 22px;
  
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.user-navigation-login-link {
  padding-left: 32px;
}

.user-navigation-login-link::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 8px;
  width: 22px;
  height: 22px;
  
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation-basket-link {
  padding-left: 32px;
}

.user-navigation-basket-link::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 8px;
  width: 22px;
  height: 22px;
  
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.site-wrapper {
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url('../img/slider-item1.png');
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;

  /* Для демонстрации */
  min-height: 100vh;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url('../img/slider-item2.png');
}

.site-wrapper::after {
  background-image: url('../img/slider-item3.png');
}



.slider {
  position: relative;

  padding-top: 315px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button.slide-button {
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  padding: 12px 44px;
   vertical-align: top;
}

.button {
  display: inline-block;
  
  padding: 12px 23px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
 
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 23px;
  left: 27px;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.action {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.button.link {
  position: absolute;
  right: 20px; 
  bottom: 20px;
}

.action h2 {
  margin: 20px;
  font-size: 35px;
  line-height: 41px;
}

.action p {
   margin: 20px;
  font-size: 18px;
  line-height: 22px;
}

.action-raspberry, .action-chocolate {
  border-radius: 15px;
  position: relative;
  min-width: 560px;
  min-height: 229px;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.action-raspberry {
  margin: 45px 26px 46px 17px;
  background-image: url("../img/raspberry_for_free.jpg");
 
}

.action-chocolate {
  margin: 45px 37px 46px 0px;
  background-color: #ffffff;
  background-image: url("../img/chocolates_for_free.jpg");
}

.catalog h3 {
  position: relative;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  line-height: 22px;
}

.catalog p {
  position: relative;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.catalog span {
  position: relative;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  width: 1146px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item img {
  position: absolute;
  border-radius: 100%;    
}

.catalog-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 267px;
  margin: 0;
  padding: 0;
}

.pagination-list {
 
  margin: 0;
}

.pagination-list li {
  padding:  10px;
}

.company-info {
  background-color: #ffffff;
  background-image:  url('../img/wafer.png');
  background-repeat: repeat;
  border-radius: 15px;
  color: #323232;
}

.company-info h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.company-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.subscription {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.subscription-wrapper {
  background-color: #ffffff;
  width: 560px;
  height: 220px;
}

.subscription h2 {
  color: #323232;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.subscription a {
  color: #323232;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration:  underline;
}

.subscription p {
  color: #5a5a5a;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.news {
  width: 560px;
  height: 220px;
  background-color: #ffffff;
  background-image: url('../img/news.jpg');
  background-repeat: no-repeat;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1146px;
  height: 440px;
}
.contacts-string-small {
  color: #323232;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.contacts-string-large {
  color: #323232;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts a {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.question-legend {
  color: #323232;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.footer-list a {
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.footer-list-supplier a {
  font-weight: 700;
}

.footer-copyright {
  color: #fefefe;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.footer-copyright a {
  color: #fefefe;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs, .breadcrumbs a {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.main-footer .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

