body {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 1.2;
  font-family: Roboto, "Arial", sans-serif;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
  background-position: top center;
  background-repeat: no-repeat;
}

.img-debug {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  opacity: 0.2;
  z-index: 50;
}

a {
  text-decoration: none;

}

a:hover {
  color: #fbded7;
  border-bottom-color: rgba(249, 172, 159, 0.3);
}

a:active {
  color: #f6b5a5;
  border-bottom-color: rgba(249, 172, 159, 0.3);
}


img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  position: relative;
}

.main-header {
  display: flex; 
  justify-content: flex-start;
  align-items: flex-end;
  width: 1200px;
  height: 76px;
}

.main-header-logo {
  margin-left: 27px;
}

.main-navigation  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1020px;
  height: 80px;
  margin: 0;
  padding: 0;
}

.site-navigation { 
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  margin: 0;
  padding: 0;
}


.site-navigation-link {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin: 9px 12px;
  padding: 0;
  border-bottom: 1px solid  rgba(255, 255, 255, 0.2);
}

.site-navigation-link:hover {
  color: #333333;
  background-color: #f7f6f3;
  padding: 9px 12px;
  margin:0;
  border-radius: 50px;
}

.site-navigation-link:active {
  color: #333333;
  background-color: #ededed;
  padding: 9px 12px;
  margin:0;
  border-radius: 50px;
}

/* формы site-navigation*/
.site-navigation > li:hover .site-navigation-catalog-submenu {
    display: block;
}

.site-navigation-catalog-submenu {
  display: none;
  position: absolute;

  background: #f8f7f4;
  border-radius: 4%;
  margin: 0;
  padding: 0;
  left: 0px;

  -webkit-box-shadow: 5px 20px 20px rgba(0,0,0,.4);
  box-shadow: 5px 20px 20px rgba(0,0,0,.4);
  z-index: 10;
  background-clip: content-box;
}

.submenu-item-new .catalog-submenu-link {
  display: block;
  background-color: #f8f7f4;
  border-bottom: 1px solid  rgba(53, 53, 53, 0.2);
  padding: 12px 16px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #323232;
}

.catalog-submenu-link {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  background-color: #f8f7f4;
  padding: 12px 16px;
}

.catalog-submenu-link:hover {
  background-color: #fbded7;
}

.catalog-submenu-link:active {
  background-color: #f6b5a5;
}

/* user-navigation */
.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 400px;
  margin: 0;
  padding: 0;
}

.user-navigation {
  margin-right: 27px;
}

.user-navigation-link {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  margin-left: 10px;
}

.user-navigation-link:hover {
  color: #333333;
  background-color: rgba(255, 255, 255, 1);
}

.user-navigation-search-link {
  padding: 7px 17px 7px 17px;
  width: 22px;
  height: 22px;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.user-navigation-search-link:hover {
  background-image: url("../img/loupe_black.svg");
}

.user-navigation-login-link {
  padding: 7px 17px 7px 43px;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 18px center;;
}

.user-navigation-login-link:hover {
  background-image: url("../img/entrance_black.svg");
}

.user-navigation-basket-link {
  padding: 7px 17px 7px 43px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position:14px center;
}

.user-navigation-basket-link:hover {
  background-image: url("../img/basket_red.svg");
} 

/* формы user-navigation-search-form  */
.user-navigation-search {
  position: relative;
  z-index: 10;
}

/* формы user-navigation*/
.user-navigation > li:hover .user-navigation-search-form {
  display: block;
}

.user-navigation-search-form {
  background-color: #f8f7f4;
  display: none;
  border-radius: 10px;
  position: absolute;
  padding: 20px 15px;

  right: 0;
  top: 28px;

  -webkit-box-shadow: 5px 20px 20px rgba(0,0,0,.4);
  box-shadow: 5px 20px 20px rgba(0,0,0,.4);

}

.user-navigation-search-string {
  width: 310px;
  height: 40px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  padding: 0 10px;
}

.user-navigation-login {
  position: relative;
  z-index: 10;
  
}

.user-navigation > li:hover .user-navigation-login-form {
  display: block;
}

.user-navigation-login-form {
  display: none;
}
.user-navigation-login-fieldset {
  position: absolute;
  right: 0px;
  top: 30px;
  background-color: #f8f7f4;
  padding: 20px;
  border-radius: 8px;
  border: 0;

  -webkit-box-shadow: 5px 20px 20px rgba(0,0,0,.4);
  box-shadow: 5px 20px 20px rgba(0,0,0,.4);
}

.user-navigation-login-input {
  display: inline-block;;
  position: relative;
  width: 225px;
  height: 44px;
  border-radius: 7px;
  border: 1px solid rgba(0,0,0,.2);
  padding: 0 0 0 15px;
}

.form-login-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  border-bottom: 1px solid  rgba(0, 0, 0, 0.2);
}

.user-navigation-basket-form {
  display: none;
}

.form-login-link-wrapp {
  position: absolute;
  width: 150px;
  right: 0;
  bottom: 24px;
}

/* site */
.site-wrapper {
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url('../img/slider-item1.png');
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visually: hidden;
}

.site-wrapper::before {
  background-image: url('../img/slider-item2.png');
}

.site-wrapper::after {
  background-image: url('../img/slider-item3.png');
}


.contacts-schedule-telephone {
  position: absolute;
  text-align: right;
  right: 27px;
  top: 72px;
  z-index: 1;
}

.schedule {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 5px 0;
  padding: 0;
}

.telephone {
  font-size: 22px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.slider {
  color: #ffffff;
  position: relative;
  padding-top: 315px;
  text-align: center;
 
  z-index: 0;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.button.slide-button {
  font-weight: 500;
  font-size: 31px;
  line-height: 41px;
  padding: 12px 44px;
   vertical-align: top;
}

.button {
  display: inline-block;
  
  padding: 12px 23px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
 
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 23px;
  left: 27px;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.action {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  width: 1146px;
  margin: 44px auto 0;
}

.button.link {
  position: absolute;
  right: 20px; 
  bottom: 20px;
}

.action h2 {
  margin: 20px;
  font-size: 35px;
  line-height: 41px;
}

.action p {
   margin: 20px;
  font-size: 18px;
  line-height: 22px;
}

.action-raspberry, .action-chocolate {
  border-radius: 15px;
  position: relative;
  width: 560px;
  height: 229px;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.action-raspberry {
  background-image: url("../img/raspberry_for_free.jpg"); 
}

.action-chocolate {
  background-image: url("../img/chocolates_for_free.jpg");
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 1146px;
  margin: 23px auto 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1146px;
  margin: 0;
  padding: 0;
  }

.catalog-item {
  position: relative;
  width: 267px;
  height: 322px;
  margin: 18px 0;
  padding: 0;
}

.catalog-item img {
  position: absolute;
  border-radius: 100% 100% 100% 100%;    
}

.catalog h3 {
  position: absolute;
  top: 264px;
  max-width: 267px;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.catalog p {
  position: absolute;
  top: 163px;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.catalog span {
  position: absolute;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

.catalog-pagination-list {
  margin: 0;
}

.catalog-pagination-list li {
  padding:  10px;
}

/* Пагинатор */

.pagination-list {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  width: 267px;
  margin: 55px 21px 31px 0px;
  list-style: none;
}

.pagination-list::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 140px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-left-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: rotate(180deg);
}

.pagination-list::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -23px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.pagination-list a {
  display: inline-block;
  width: 17px;
  height: 22px;
  margin-left: 1px;
  margin-right: 1px;
  padding: 5px 5px 0;
  color: #ffffff;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  vertical-align: top;
}

.pagination-list a:hover,
.pagination-list a:focus {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.pagination-item-current a,
.pagination-list a:active {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

.seo {
  display: flex;
  flex-direction: column;
  width: 1146px;
  height: 306px;
  margin: 21px auto 0;
  background-color: #ffffff;
  background-image: url(../img/wafer.png);
  background-repeat: repeat;
  border-radius: 15px;
  color: #323232;
}

.seo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.seo-item {
  margin: 0;
  padding: 0;
  position: relative;
  width: 540px;
}

.seo h2 {
  margin: 25px 20px 11px;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.seo-item p {
  margin: 0;
  padding: 15px 0 0 55px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.seo-item.ice-cream {
  background-image: url('../img/ice-cream.svg');
  background-repeat: no-repeat;
}

.seo-item.cow {
  background-image: url('../img/cow.svg');
  background-repeat: no-repeat;
}

.seo-item.eco {
  background-image: url('../img/eco.svg');
  background-repeat: no-repeat;
}

.seo-item.thermometer {
  background-image: url('../img/thermometer.svg');
  background-repeat: no-repeat;
}

.subscription {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 40px 27px;
}

.subscription-wrapper-gradien {
  background-image: repeating-linear-gradient(132deg, #f8f7f4 0px, #f8f7f4 4px, #92cdff 8px, #92cdff 12px, #f8f7f4 16px, #f8f7f4 20px, #fe9e90 24px, #fe9e90 28px);
  border-radius: 15px;
  width: 560px;
  height: 220px;
}

.subscription-wrapper {
  background-color: #f8f7f4;
  border-radius: 15px;
  margin: 5px 5px;
  width: 550px;
  height: 210px;
}

.subscription h2 {
  color: #323232;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.subscription a {
  color: #323232;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration:  underline;
}

.subscription p {
  margin: 0;
  padding: 30px 20px;

  color: #5a5a5a;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.news {
  display: flex;
  flex-direction: column;
  width: 520px;
  height: 171px;
  background-color: #ffffff;
  background-image: url(../img/news.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 25px 20px;
}

.news h2 {
  margin: 0;
  padding: 0;
  color: #323232;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.news a {
  width: 300px;
  color: #323232;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}
.contacts {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  height: 430px;
  background-image: url('../img/map.png');
  background-repeat: no-repeat;
}

.contacts-info {
  background-color: #fffefc;
  border-radius: 15px;
  width: 304px;
  height: 304px;
  position: absolute;
  top: 63px;
  right: 27px;
}

.contacts p {

}
.contacts-string-small {
  color: #323232;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  max-width: 200px;
  margin: 26px 29px 0;
}

.contacts-string-large {
  color: #323232;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  max-width: 250px;
  margin: 2px 30px;
}

.contacts-string-time {
  color: #323232;
  font-weight: 400;
  font-size: 14px;
  max-width: 200px;
  margin: 0 29px;
}
.contacts a {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 27px 30px;
}

.question-legend {
  color: #323232;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.main-footer {

}
.footer-social {
  display: flex;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 0 0 27px;
  padding: 0;
}

.social-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 11px 0 0;
}

.social-item a {
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-item svg {
  opacity: 0.5;
}

.social-item svg:hover {
  opacity: 1;
}

.social-item svg:active {
  opacity: 1;
}

.social-item a:hover {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 3px solid rgba(255, 255, 255, 1);
}

.social-item a:active {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.footer-links {

}

.footer-links {
  width: 300px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.links-one, .links-two {
  margin: 0;
  padding: 0;
}

.footer-link {
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  border-bottom: 1px solid  rgba(255, 255, 255, 0.2);
}

.footer-list-supplier {
  position: relative;
  font-weight: 700;
}

.footer-list-supplier svg {
  position: absolute;
  left: -19px;
  top: 0;
}
.footer-copyright {
  margin: 18px 9px;
  color: #fefefe;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.footer-copyright p {
  margin: 0;
  padding: 0;
}

.footer-copyright a {
  color: #fefefe;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
   border-bottom: 1px solid #a9bbb1;
}

.breadcrumbs, .breadcrumbs a {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.main-footer .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* каталог */
.breadcrums {
  display: flex;
  justify-content: flex-start;
  margin: 28px 0 0 27px;
  padding: 0;
  width: 320px;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  color: #ffffff;
}

.breadcrums a {
  position: relative;
  margin-right: 21px;
  color: #ffffff;
  border-bottom: 1px solid #a9bbb1;
}

.breadcrums a::after {
  content: "»";
  position: absolute;
  right: -17px;
  width: 10px;
  height: 10px;
  background-repeat: repeat-x;
  background-position: 0 0;
}

.breadcrums a:hover, .breadcrums a:active {
  color: #ffbc9e;
}

.catalog-title h2{

  font-size: 35px;
 
  line-height: 41px;
   font-weight: 700;
  margin: 0 27px;
}

.filters {
  margin: 25px 27px 0;
}

.filters-form {
  display: flex;
  align-content: space-between;
 
  flex-flow: row wrap;
  justify-content: space-between;
 
  width: 862px;
  min-height: 130px;
  margin: 0 0 40px 0;
  color: #ffffff;
  font-weight: 400;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: 0;
}

.sorting-select,
.filter-item-inner {
  line-height: 18px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-caption {
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
}

.sorting-select {
  width: 195px;
  min-height: 37px;
  padding: 7px 10px 9px;
  margin: 0;
  margin-left: 5px;
  color: #ffffff;
}

.filter-item-inner {
  height: 36px;
  box-sizing: border-box;
  margin: 0;
  margin-left: 5px;
  padding: 17px;
  background-color: rgba(255, 255, 255, 0.2);
}

.price-filter-caption {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 5px;
}

.price-filter-inner {
  position: relative;
  width: 220px;
}

.filter-line {
  width: 176px;
  height: 4px;
  margin: 0;
  margin-left: 5px;
  padding: 0;
  background-color: rgba(248, 247, 247, 0.5);
}

.filter-active-line {
  width: 107px;
  height: 4px;
  background-color: #f8f7f4;
  margin-left: 15px;
}

.filter-ring {
  position: absolute;
  top: 9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.ring-min {
  left: 35px;
}

.ring-max {
  left: 132px;
}

.filter-item-inner label{
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-left: 28px;
  cursor: pointer;
  user-select: none;
}

.fatty-inner,
.filler-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 415px;
}

.filter-toggle + label::before,
.filter-toggle:checked + label::after,
.filter-checkbox + label::before,
.filter-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -5px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-toggle + label::before {
  background-image: url("../img/radio-off.svg");
}

.filter-toggle:checked + label::after {
  background-image: url("../img/radio-on.svg");
}

.filter-checkbox + label::before {
  background-image: url("../img/checkbox-off.svg");
}

.filter-checkbox:checked + label::after {
  background-image: url("../img/checkbox-on.svg");
}

.filter-toggle + label:hover::before,
.filter-checkbox + label:hover::before {
  opacity: 1;
}

.filter-toggle + label:disabled::before,
.filter-checkbox + label:disabled::before {
  opacity: 0.4;
}

.filler-inner {
  position: relative;
  width: 703px;
}

.filter-button {
  align-self: flex-end;
  width: 144px;
  height: 35px;
  padding: 7px 29px 12px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-weight: 400;
  line-height: 18px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}


.filter-button:hover {
  color: #323232;
  border-radius: 50px;
  background-color: #ffffff;
}

.filter-button:active {
  color: #323232;
  border-radius: 50px;
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
}