body {
  background-color: #849d8f;
  background-position: top center;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: Roboto, "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  border-bottom-color: rgba(249, 172, 159, 0.3);
  color: #ffbc9e;
}

a:active {
  border-bottom-color: rgba(249, 172, 159, 0.3);
  color: #ffbc9e;
}

img {
  height: auto;
  max-width: 100%;
}

.input-text {
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  box-sizing: border-box;
  color: #323232;
  font-family: Roboto, "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  padding: 8px 15px;
}

.input-text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999999;
  font-family: Roboto, "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.input-text::-moz-placeholder { /* Firefox 19+ */
  color: #999999;
  font-family: Roboto, "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.input-text:-ms-input-placeholder { /* IE 10+ */
  color: #999999;
  font-family: Roboto, "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.input-text:-moz-placeholder { /* Firefox 18- */
  color: #999999;
  font-family: Roboto, "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.input-text:hover {
  border: 2px solid rgba(178, 178, 178, 0.52);
  padding: 7px 14px;
}

.input-text:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  padding: 7px 14px;
}

.visually-hidden:not(:focus):not(:active),
.filter-checkbox, .filter-toggle {
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  margin: -1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2.3%;
  position: relative;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main-header {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 0 2.3%;
}

.main-header-logo {
  margin-top: 7px;
}

.main-navigation  {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0 0 0 8px;
  position: relative;
}

.site-navigation {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin: 4px 14px;
  padding: 0;
  text-decoration: none;
}

.site-navigation-link-red {
  background-color: #d07058;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 4px 14px 6px;
  text-decoration: none;
}

[class^="site-navigation-link"]:hover {
  background-color: #f7f6f3;
  border-radius: 50px;
  color: #333333;
  margin: 0;
  padding: 4px 14px 6px;
}

[class^="site-navigation-link"]:active {
  background-color: #ededed;
  border-radius: 50px;
  color: #333333;
  margin: 0;
  padding: 4px 14px 6px;
  box-shadow: inset 0 2px 2px rgba(105, 105, 105, 1);
}

/* формы site-navigation*/
.site-navigation-submenu:hover .site-navigation-catalog-submenu {
  display: block;
}

.site-navigation-catalog-submenu {
  list-style: none;
  background: #f8f7f4;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 5px 20px 20px rgba(0,0,0,.4);
  -webkit-box-shadow: 5px 20px 20px rgba(0,0,0,.4);
  display: none;
  left: 0px;
  margin: 11px 2px;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.submenu-item-new a {
  border-bottom: 1px solid rgba(53, 53, 53, 0.2);
  color: #323232;
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 11px 20px;
}

.catalog-submenu-link {
  border-radius: 0;
  color: #323232;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 8px 20px;
  text-decoration: none;
}

.current-page {
  background-color: #d07058;
}

.catalog-submenu-link:hover {
  background-color: #f6b5a5;
  color: #323232;
}

.catalog-submenu-link:active {
  background-color: #d07058;
  color: #323232;
}

/* user-navigation */
.user-navigation {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 400px;
}

.user-navigation-link {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  text-decoration: none;
}

.user-navigation-link:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #333333;
}

.user-navigation-search-link {
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 22px;
  padding: 7px 17px 7px 17px;
  width: 22px;
}

.user-navigation-search-link:hover {
  background-image: url("../img/loupe_black.svg");
}

.user-navigation-login-link {
  background-image: url("../img/entrance.svg");
  background-position: 18px center;
  background-repeat: no-repeat;
  padding: 7px 17px 7px 43px;
}

.user-navigation-login-link:hover {
  background-image: url("../img/entrance_black.svg");
}

.user-navigation-basket-link {
  background-image: url("../img/basket.svg");
  background-position:14px center;
  background-repeat: no-repeat;
  padding: 7px 17px 7px 43px;
}

.user-navigation-basket-link:hover {
  background-image: url("../img/basket_red.svg");
}

.user-navigation-basket-link-active {
  background-color: rgba(255, 255, 255, 1);
  background-repeat: no-repeat;
  background-position:16px center;
  background-image: url("../img/basket_red.svg");
  color: #333333;
  padding: 7px 15px 7px 43px;
}

.user-navigation-basket:hover .basket-container-wrapper{
  display: block;
}

.basket {
  align-items: center;
  box-sizing: border-box;
  -ms-flex-align: center;
  -webkit-box-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  min-width: 117px;
  height: 32px;
  -webkit-box-sizing: border-box;
}

.basket .basket-icon {
  margin-right: 6px;
}

.basket:hover + .basket-container-wrapper,
.basket:focus + .basket-container-wrapper,
.user-basket:hover .basket-container-wrapper {
  display: block;
}

.user-basket:hover circle,
.user-basket:hover path,
.basket:focus circle,
.basket:focus path {
  fill: #000;
}

.user-basket:hover .basket {
  background-color: #f8f7f4;
  color: #323232;
}

.basket.not-empty circle,
.basket.not-empty path {
  fill: #000;
}

.basket.not-empty polygon {
  fill: #e84d37;
}

.basket.not-empty {
  background-color: #f8f7f4;
  color: #323232;
}

.basket-container-wrapper {
  display: none;
  padding-top: 4px;
  position: absolute;
  top: 28px;
  right: 0;
  z-index: 3;
}

.basket-container {
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #323232;
  font-size: 13px;
  line-height: 16px;
  padding: 20px 15px;
  width: 540px;
}

.basket-total-price {
  text-align: right;
}

.basket-button {
  left: 331px;
  position: relative;
}

.basket-container table {
  border-collapse: collapse;
}

.delete-item {
  display: block;
  height: 11px;
  position: relative;
  width: 11px;
}

.basket-container .delete-item::before,
.basket-container .delete-item::after {
  background-color: #000;
  content: "";
  height: 1px;
  left: -1px;
  position: absolute;
  top: 0;
  width: 13px;
}

.basket-container .delete-item::before {
  top: 5px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.basket-container .delete-item::after {
  top: 5px;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.basket-container hr {
  background-color: #cacac7;
  border: none;
  height: 1px;
  margin: 0;
  margin-top: 3px;
  padding: 0;
}

.basket-container td {
  padding-bottom: 15px;
  padding-right: 11px;
}

.basket-container img {
  border-radius: 50%;
  height: 33px;
  width: 33px;
}

.basket-container td:nth-child(3) {
  width: 230px;
}

.basket-container td:nth-child(4) {
  text-align: center;
  width: 115px;
}

.basket-container td:last-child {
  text-align: center;
  width: 60px;
}

.basket-item-price {
  color: #999;
}

/* формы user-navigation-search-form  */
.user-navigation-search {
  position: relative;
  z-index: 10;
}

/* формы user-navigation */
.user-navigation li {
  margin: 0 0px 0 10px
}

.user-navigation-search:hover .user-navigation-search-form {
  display: block;
}

.user-navigation-search-form {
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 5px 20px 20px rgba(0,0,0,.4);
  -webkit-box-shadow: 5px 20px 20px rgba(0,0,0,.4);
  display: none;
  padding: 22px 15px;
  position: absolute;
  right: 0;
  top: 31px;
}

.user-navigation-search-string {
  background-position: center;
  height: 40px;
  width: 310px;
}

.user-navigation-login {
  position: relative;
  z-index: 10;
}

.user-navigation-login:hover .user-navigation-login-form {
  display: block;
}

.user-navigation-login-form {
  display: none;
}

.user-navigation-login-fieldset {
  background-color: #f8f7f4;
  border: 0;
  border-radius: 8px;
  box-shadow: 5px 20px 20px rgba(0,0,0,.4);
  -webkit-box-shadow: 5px 20px 20px rgba(0,0,0,.4);
  margin: 0;
  padding: 4px 16px 12px 19px;
  position: absolute;
  right: 0px;
  top: 30px;
}

.user-navigation-login-fieldset .button {
  margin: 3px 0 9px;
}

.user-navigation-login-input {
  display: inline-block;
  height: 44px;
  position: relative;
  vertical-align: center;
  width: 242px;
}

.form-login-link {
  border-bottom: 1px solid  rgba(0, 0, 0, 0.2);
  color: #323232;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.user-navigation-basket-form {
  display: none;
}

.form-login-link-wrapp {
  bottom: 25px;
  position: absolute;
  right: 0;
  width: 140px;
}


/* site */
.site-wrapper {
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
  margin: 0 auto;
  width: 100%;
}

.content {
  margin: 0 auto;
  width: 1200px;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
}

.site-wrapper::before {
  background-image: url("../img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-item3.png");
}

.contacts-schedule-telephone  {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 2.3%;
  text-align: right;
  width: 44%;
  z-index: 1;
}

.schedule {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.telephone {
  font-size: 22px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.slider {
  color: #ffffff;
  display: flex;
  margin: 276px auto 0;
  position: relative;
  padding: 0 2.3%;
  text-align: center;
  width: 100%;
  z-index: 0;
}

.slider-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  margin: 0 auto;
  width: 700px;
}

.button.slide-button {
  font-weight: 500;
  font-size: 31px;
  line-height: 41px;
  margin: 32px 0 0 0;
  padding: 10px 44px 14px 44px;
  vertical-align: top;
}

.button {
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding: 9px 24px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  vertical-align: center;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
}

.slider-controls {
  bottom: 23px;
  font-size: 0;
  position: absolute;
  z-index: 20;
}

.slider-controls label {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  width: 17px;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-1:checked ~ body {
  background-color: #849d8f;
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-2:checked ~ body {
  background-color: #8996a6;
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}

#product-3:checked ~ body {
  background-color: #849d8f;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:hover ~ .site-wrapper label[for="product-1"],
#product-2:hover ~ .site-wrapper label[for="product-2"],
#product-3:hover ~ .site-wrapper label[for="product-3"] {
  background-color: rgba(248, 247, 244, 0.4);
} 

.action {
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  margin: 39px auto 41px;
  padding: 0 2.3%;
  width: 100%;
}

.button.link {
  bottom: 26px;
  cursor: pointer;
  position: absolute;
  right: 21px;
}

.button.link {
  bottom: 26px;
  padding: 10px 22px;
  position: absolute;
  right: 21px;
}

.action h2 {
  font-size: 35px;
  line-height: 41px;
  margin: 13px 18px;
}

.action p {
  font-size: 18px;
  line-height: 22px;
  margin: 16px 19px;
}

.action-raspberry, .action-chocolate {
  background-color: #ffffff;
  background-repeat: no-repeat;
  border-radius: 15px;
  height: 229px;
  position: relative;
  width: 560px;
}

.action-raspberry {
  background-color: #d3607c;
  background-repeat: no-repeat;
  background-image: url("../img/raspberry_for_free.jpg");
}

.action-chocolate {
  background-color: #4f270f;
  background-repeat: no-repeat;
  background-image: url("../img/chocolates_for_free.jpg");
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
}

.catalog-decor {
  border-bottom: 1px solid rgba(255,255,255, 0.3);
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  margin: 0 0 40px 26px;
  min-height: 322px;
  position: relative;
  padding: 0;
  width: 267px;
}

.item-hit::before {
  background-image: url("../img/hit.svg");
  content: "";
  height: 61px;
  position: absolute;
  top: 0;
  width: 61px;
  z-index: 2;
}

.catalog-item:hover .catalog-back {
  display: block;
}

.catalog-back {
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  display: none;
  height: 400px;
  left: -12px;
  position: absolute;
  top: 0px;
  width: 290px;
  z-index: 10;
}

.catalog-button {
  bottom: 17px;
  left: 38px;
  position: absolute;
}

.catalog-item img:first-child {
  border-radius: 100%;
  position: relative;
  height: 267px;
  width: 267px;
}

.catalog-title-link, .catalog-title-link:hover, .catalog-title-link:active {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  left: 7px;
  line-height: 22px;
  max-width: 267px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
  top: 279px;
  width: 256px;
  z-index: 10;
}


.catalog-title-link {
  color: #ffffff;
  text-decoration-color: rgba(255,255,255, 0.2);
}

.catalog-title-link:hover {
  color: #fbded7;
  text-decoration-color: rgba(249, 172, 159, 0.3);
}

.catalog-title-link:active {
  color: #f6b5a5;
  text-decoration-color: rgba(249, 172, 159, 0.3);
}

.catalog p {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  position: absolute;
  top: 161px;
  white-space: nowrap;
}

.catalog p::before {
  background-image: url('../img/ruble.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  height: 34px;
  left: 81px;
  position: absolute;
  top: 7px;
  width: 30px;
}

.catalog span {
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  margin: 0 0 0 35px;
  position: absolute;
  white-space: nowrap;
}

/* pagination */
.pagination-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 41px 50px 29px 0px;
  position: relative;
  width: 267px;
}

.pagination-list::before {
  background-image: url("../img/icon-left-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
  height: 12px;
  left: 140px;
  position: absolute;
  top: 7px;
  width: 8px;
  transform: rotate(180deg);
}

.pagination-list::after {
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
  height: 12px;
  position: absolute;
  right: -23px;
  top: 7px;
  width: 8px;
}

.pagination-list a {
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  height: 22px;
  line-height: 18px;
  margin-left: 1px;
  margin-right: 1px;
  padding: 5px 5px 0;
  text-align: center;
  vertical-align: top;
  width: 17px;
}

.pagination-list a:hover,
.pagination-list a:focus {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.pagination-item-current a,
.pagination-list a:active {
  background-color: #ffffff;
  border-radius: 50%;
  color: #323232;
}

.seo {
  background-color: #ece0c9;
  background-repeat: repeat;
  background-image: url(../img/wafer.png);
  border-radius: 15px;
  color: #323232;
  display: flex;
  flex-direction: column;
  margin: 0 2.3%;
  min-height: 306px;
  width: 1145px;
}

.seo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.seo-item {
  margin: 0 12px 8px 20px;
  padding: 0;
  position: relative;
  width: 532px;
}

.seo h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: 23px 20px 10px;
  padding: 0;
}

.seo-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 13px 0px 0 55px;
}

.seo-item.ice-cream {
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
}

.seo-item.cow {
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
}

.seo-item.eco {
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
}

.seo-item.thermometer {
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
}

.subscription {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 38px auto;
  padding: 0 2.3%;
  width: 100%;
}

.subscription-wrapper-gradien {
  background-image: repeating-linear-gradient(132deg, #f8f7f4 0px, #f8f7f4 4px, #92cdff 8px, #92cdff 12px, #f8f7f4 16px, #f8f7f4 20px, #fe9e90 24px, #fe9e90 28px);
  border-radius: 15px;
  height: 220px;
  width: 560px;
}

.subscription-wrapper {
  background-color: #f8f7f4;
  border-radius: 15px;
  height: 210px;
  margin: 5px 5px;
  width: 550px;
}

.subscription h2 {
  color: #323232;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.subscription a {
  color: #323232;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration:  underline;
}

.subscription p {
  color: #5a5a5a;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 28px 21px 0;
}

/* form questions */
.feedback-container {
  background-color: #f8f7f4;
  border-radius: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  color: #323232;
  display: none;
  flex-direction: column;
  margin: 0 361px;
  min-width: 477px;
  padding: 17px 24px;
  position: fixed;
  top: 10%;
  z-index: 50;
}

.feedback-container label {
  clip: rect(0 0 0 0);
  position: absolute;
}

.feedback-container p {
  margin: 0;
  padding: 0;
}

.feedback-heading {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
  padding: 0;
  padding-bottom: 18px;
}

.feedback-name-field,
.feedback-email-field,
.feedback-wishes-field {
  background-color: #fff;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;
  width: 267px;
}

.feedback-name-field,
.feedback-email-field {
  height: 44px;
}

.feedback-wishes-field {
  min-height: 160px;
  min-width: 429px;
}

.feedback-wishes-field {
  width: 100%;
}

.feedback-button-wrapper {
  margin-bottom: 10px;
  text-align: right;
}

.modal-close {
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-image: url(../img/cross-big.svg);
  border: none;
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 20px;
}

.modal-close:active {
  outline: none;
}

/* news */
.news {
  background-color: #ffffff;
  background-image: url(../img/news.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  min-height: 171px;
  padding: 23px 19px;
  width: 521px;
}

.news h2 {
  color: #323232;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.news a {
  color: #323232;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 4px 0;
  padding: 0;
  text-decoration: underline;
  width: 300px;
}

.news a:hover {
  border-bottom-color: rgba(249, 172, 159, 0.3);
  color: #e84d37;
}

.news a:active {
  border-bottom-color: rgba(249, 172, 159, 0.3);
  color: #e84d37;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 430px;
  position: relative;
}

.maps {
  position: relative;
  z-index: 0;
}

.maps iframe {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

.maps::before {
  background-image: url(../img/pin.svg);
  background-repeat: no-repeat;
  background-position: 0;
  content: "";
  height: 140px;
  left: 266px;
  position: absolute;
  top: 140px;
  width: 80px;
  z-index: 2;
}

.contacts-info {
  background-color: #fffefc;
  border-radius: 15px;
  height: 304px;
  margin: 64px 0 0 0;
  position: absolute;
  right: 27px;
  width: 302px;
}

.contacts-address-title {
  color: #323232;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 28px 26px 0;
  max-width: 150px;
}

.contacts-telephone-title {
  color: #323232;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  max-width: 200px;
  margin: 21px 25px 0;
}

.contacts-address, .contacts-telephone {
  color: #323232;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 4px 25px 3px;
  max-width: 250px;
}

.contacts-string-time {
  color: #323232;
  font-weight: 400;
  font-size: 14px;
  margin: 6px 25px 0;
  max-width: 200px;
}

.contacts a {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 26px 0 0 25px;
  padding: 8px 28px 12px;
  text-align: center;
}

.question-legend {
  color: #323232;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.question-email-input {
  height: 42px;
  margin: 38px 5px 0px 22px;
  width: 368px;
}

.question .button {
  font-family: Roboto, "Arial", sans-serif;
  margin: 0 0px 0 2px;
  padding: 9px 18px 10px 19px;
  vertical-align: bottom;
}

.main-footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 24px 0;
  padding: 0 2.3%;
}

.footer-social {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 35px 0 0 0;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 13px 0 0;
  width: 36px;
}

.social-item a {
  text-decoration: none;
}

.social-item svg {
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  fill: rgb(0,0,0);
  opacity: 0.5;
}

.social-item svg:hover {
  border-radius: 50px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.social-item svg:active {
  border-radius: 100%;
  border: 3px solid rgba(255, 255, 255, 0.7);
  fill: rgb(0,0,0);
  opacity: 1;
}

.social-item svg:active .svg-fill {
  fill: rgb(233, 233, 233);
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 24px 33px 0 0px;
  padding: 0;
}

.links-one, .links-two {
  list-style: none;
  margin: 0 0 0 30px;
  padding: 0;
}

.footer-link {
  border-bottom: 1px solid  rgba(255, 255, 255, 0.2);
  color: #ffffff;
  cursor: pointer;
  font-family: Roboto, "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
}

.footer-list-supplier {
  font-weight: 700;
  position: relative;
}

.footer-list-supplier svg {
  left: -23px;
  position: absolute;
  top: 3px;
}

.footer-copyright {
  color: #fefefe;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 15px 0 0 0;
}

.footer-copyright p {
  margin: 0;
  padding: 0;
}

.footer-copyright .footer-link {
  border-bottom: 1px solid #a9bbb1;
  color: #fefefe;
  cursor: pointer;
  font-family: Roboto, "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.footer-copyright .footer-link:hover {
  color: #ffbc9e;
  border-bottom-color: rgba(249, 172, 159, 0.3);
}

.footer-copyright .footer-link:active {
  color: #ffbc9e;
  border-bottom-color: rgba(249, 172, 159, 0.3);
}

.footer-copyright img {
  margin: 0 3px;
}

.breadcrumbs, .breadcrumbs a {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  width: 44%;
}

.section-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* каталог */
.breadcrums {
  margin: 0;
  padding: 0 2.3%;
}

.breadcrums-list {
  color: #ffffff;
  display: flex;
  flex-grow:1;
  font-size: 14px;
  justify-content: flex-start;
  line-height: 16px;
  list-style: none;
  margin: 24px 0 0 0;
  padding: 0;
  width: 320px;
}

.breadcrums a {
  border-bottom: 1px solid #a9bbb1;
  color: #ffffff;
  margin-right: 21px;
  position: relative;
}

.breadcrums a::after {
  background-repeat: repeat-x;
  background-position: 0 0;
  content: "»";
  height: 10px;
  position: absolute;
  right: -17px;
  width: 10px;
}

.breadcrums a:hover, .breadcrums a:active {
  color: #ffbc9e;
}

.catalog-title {
  padding: 0 2.3%;
}

.catalog-title h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin: 0;
  text-align: left;
}

.filters {
  margin: 30px 0 25px;
  padding: 0 2.3%;
}

.filters-form {
  color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  font-family: Roboto, "Arial", sans-serif;
  font-weight: 400;
  justify-content: flex-start;
  min-height: 131px;
  width: 880px;
}

.filter-item {
  border: 0;
  margin: 0 8px 16px 0;
  padding: 0;
}

.sorting-select,
.filter-item-inner {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  font-family: Roboto, "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filter-caption {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 5px 13px;
}

.sorting-select {  
  background-repeat: no-repeat;
  background-image: url('../img/select-arrow.svg');
  background-size: 13px 12px;
  background-position: 165px 12px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  min-height: 37px;
  padding: 6px 13px;
  width: 195px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.sorting-select:hover {
  background-repeat: no-repeat;
  background-image: url('../img/select-arrow-black.svg');
  background-size: 13px 12px;
  background-position: 165px 12px;
  color: #323232;
  margin: 0;
  min-height: 37px;
  padding: 6px 13px;
  width: 195px;
}

.sorting-option {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0 ;
  color: #323232;
  margin-left: 5px;
  width: 195px;
}

.filter-item-inner {
  background-color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  height: 36px;
  margin: 0;
  margin-left: 5px;
  padding: 17px;
}

.price-filter-caption {
  margin: 0 0 5px 20px;
}

.price-filter-inner {
  position: relative;
  width: 220px;
}

.filter-line {
  background-color: rgba(248, 247, 247, 0.5);
  height: 4px;
  margin: 0;
  margin-left: 5px;
  padding: 0;
  width: 176px;
}

.filter-active-line {
  background-color: #f8f7f4;
  height: 4px;
  margin-left: 15px;
  width: 107px;
}

.filter-ring {
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  height: 4px;
  position: absolute;
  top: 9px;
  width: 4px;
}

.ring-min {
  left: 35px;
}

.ring-max {
  left: 132px;
}

.filter-item-inner label {
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  padding-left: 28px;
  position: relative;
  user-select: none;
}

.filter-caption-fatty {
  margin: 0 11px 5px 19px;
}

.fatty-inner,
.filler-inner {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  width: 415px;
}

.fatty-inner label {
  margin: 0 3px 0 19px;
  padding: 0 0 0 28px;
}

.filler-inner label {
  margin: 0 6px 0 19px;
  padding: 0 0 0 28px;
}

.filter-toggle + label::before,
.filter-toggle:checked + label::after,
.filter-checkbox + label::before,
.filter-checkbox:checked + label::after {
  background-repeat: no-repeat;
  background-position: 2px 0;
  content: "";
  height: 25px;
  left: -7px;
  opacity: 0.7;
  position: absolute;
  width: 25px;
}

.filter-toggle + label::before {
  background-image: url("../img/radio-off.svg");
}

.filter-toggle:checked + label::after {
  background-image: url("../img/radio-on.svg");
}

.filter-checkbox + label::before {
  background-image: url("../img/checkbox-off.svg");
}

.filter-checkbox:checked + label::after {
  background-image: url("../img/checkbox-on.svg");
}

.filter-toggle + label:hover::before,
.filter-checkbox + label:hover::before {
  opacity: 1;
}

.filter-toggle + label:disabled::before,
.filter-checkbox + label:disabled::before {
  opacity: 0.4;
}

.filler-inner {
  margin: 0;
  padding: 0;
  position: relative;
  width: 703px;
}

.filter-button {
  align-self: flex-end;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  font-family: Roboto, "Arial", sans-serif;font: inherit;
  font-size: 16px;
  font-weight: 500;
  height: 35px;
  line-height: 18px;
  margin: 0 4px 16px;
  text-align: center;
  vertical-align: middle;
  width: 144px;
}

.filter-button:hover {
  background-color: #fbfcfb;
  border-radius: 50px;
  color: #323232;
}

.filter-button:active {
  background-color: #ededed;
  border-radius: 50px;
  border: 0;
  box-shadow: inset 0 2px 1px #696969;
  color: #323232;
}

.modal-show {
  animation: bounce 0.6s;
  display: flex;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
